
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6" data-aos="zoom-in">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
                    <div class="content pt-4 pt-lg-0">
                        <h3>Learn more about us</h3>
                        <p class="fst-italic">
                            WebbySoftware is a software development initiative created by two friends in 2023. We provide customized and high-quality development solutions to our clients. Feel free to contact us for your needs, whether you wish to maintain a SaaS infrastructure, good-looking website to showcase your products or simply if you wish to hire our services. We come from a corporate background ourselves and will bring your ideas to fruition.
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> The technologies used at WebbySoftware are constantly updated and designed to be in line with the latest trends. This way, we can always offer our clients the best and most innovative solutions.</li>
                            <li><i class="bi bi-check-circle"></i> At WebbySoftware, we maintain active communication with our clients and keep them informed at every stage of their project. This way, our clients are always aware of the progress of their project.</li>
                            <li><i class="bi bi-check-circle"></i> We always strive to find the best solutions to complete our projects and do our best to help our clients successfully finish their work.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Frequently Asked Questions</h2>
            </div>

            <ul class="faq-list">

                <li>
                    <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">What technologies do you use to develop web applications? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Our expert team uses modern technologies and tools to develop web applications. These include but not limited to HTML, CSS, JavaScript, .Net Framework, Asp.Net, MS-SQL, postgresql, Unity among others.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">How long does a project take and what is the budget? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            The project completion time and budget can vary depending on the project scope, features, and client requirements. We strive to complete our projects in a timely and budget-friendly manner that meets our clients' needs.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">What type of websites does WebbySoftware develop? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            WebbySoftware develops customized websites for businesses in any industry, including corporate websites, e-commerce sites, blogs, portfolio sites, and many other.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What platforms do you offer game development services for ? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            We offer customized game development services for various platforms, including mobile games and desktop games.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq5" class="collapsed question"> How can I contact WebbySoftware for web design or game development services? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            You can contact us by filling out the form on our contact page or by emailing any person in the team. You can also reach us through our email address or phone number.
                        </p>
                    </div>
                </li>



            </ul>

        </div>
    </section>
    <!-- End Frequently Asked Questions Section -->