    
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info">
                            <h3>WebbySoftware</h3>
                            <p>
                                Ankara,Turkey<br><br>
                                <strong>Contact:</strong> Kindly refer to team/contact page for information.<br>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="About">About</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Game" asp-action="GameDevelopment">Game Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Web" asp-action="WebDevelopment">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="MobileApp" asp-action="MobileAppDevelopment">Mobile App Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Desk" asp-action="DesktopDevelopment">Desktop App Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="Team">Team</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="Contact">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Sign up for our newsletter to stay updated on the latest projects and news.</p>
                        <form action="" method="post">
                            <input type="email" name="email" placeholder="Your Email"><input type="submit" value="Subscribe">
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>WebbySoftware Initiative</span></strong>. All Rights Reserved.
            </div>
            <div class="credits">
                Designed by Okan Kandemir and Hakan Yıldız
            </div>
        </div>
    </footer><!-- End Footer -->